/********************************/
/*        >>> GLOBAL <<<        */
/********************************/

#show-lists {
    display: none;
}

#show-tasks {
    display: none;
}

.list-item {
    cursor: pointer;
    color: #0088cc;
}

.list-item:hover {
    text-decoration: underline;
}
